.content1 {
  background-color: none;
  text-align: center;
}
body{
  background-image: url(https://i.ytimg.com/vi/cYEvZaeY2lQ/maxresdefault.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
  text-align: center;
}
li{
  list-style-type: none;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  line-height: 5px;
  font-style: italic;
  background-color: #808080;
  color: white;
  width: 100%;
}
.navbar {
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #808080;
}
.navbar a{
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
  color: white;
}
img {
  text-align: center;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
}
@media only screen and (max-width: 600px) {
    body {
        background-color: #FFCCCC;
    }
}
