.content1 {
  background-color: none;
  text-align: center;
}
body{
  background-image: url(https://i.ytimg.com/vi/cYEvZaeY2lQ/maxresdefault.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px
}
li{
  list-style-type: none
}
@media only screen and (max-width: 600px) {
    body {
        background-color: #FFCCCC;
    }
